*{
margin: 0;
padding: 0;
border:border-box;
}
a{
text-decoration: none;
color: black;
}

nav ul li{
    display: inline-block;
    padding: 15px 40px;
    position: relative;


}

nav{
    text-align: center;
    border: 2px solid #ccc;
    background-color: rgb(234, 253, 253);

}

nav ul li a:hover{
    color: orangered;
}

nav ul li .submenue {
    position: absolute;
   text-align: left;
   display: block;
   margin: 15px ;
width: 210px;
border: 1px solid #ccc;
border-top:3px solid red ;
opacity: 0;
visibility: hidden;

}

nav ul li .submenue li:hover {
    background-color: crimson;
    
    
}

nav ul li .submenue li{
    border-bottom: 1px solid #ccc;
}

nav ul li:hover .submenue{
    opacity: 1;
visibility: visible;
}